#root{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  background:#FAEBD7;
}
.calculator {
  border: 2px solid #47476b;
  padding: 5px;
  background: black;
  width: 320px;
  position: relative;
}
#display{
   min-height: 40px;
   font-size: 20px;
   background: #8FBC8F;
   text-align: right;
}
button {
  position: relative;
  height: 65px;
  width: 80px;
  color: white;
  outline: 1px solid black;
  border: none;
  background: #DC143C;
   font-size: 20px;
  cursor: default;
}
.big{
  width:320px;
  background:#556B2F;
}
